<div class="container mt-5">
    <h2 class="text-center mb-4">Detalle de Peticiones</h2>
  

    <div class="card">
        <div class="row">
        

            <div class="col-md-9">
                <div class="card-body">
                    <h6 class="card-text mb-2 ">{{ peticion.titulo }}</h6>
                    <p class="card-text">{{ peticion.descripcion }}</p>
                    <p class="card-text">{{ peticion.firmantes }} <strong>han firmado esta petición</strong></p>

                </div>

            </div>
        </div>
    </div>
</div>

